
@using WebApplication.Models;
@model dynamic

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    @Styles.Render("~/Content/css")
    <script type="text/javascript">
        $(function () {
            $("[id*=quantity]").val();
        });
        $("body").on("change keyup", "[id*=quantity]", function () {
            var qty = parseFloat($.trim($(this).val()));
            if (isNaN(qty)) {
                qty = 0;
            }

            $(this).val(qty);

            //Check row wise total
            var row = $(this).closest("tr")
            var total = 0;
            $("[id*=total]", row).html(parseFloat($(".salePrice", row).html()) * parseFloat($(this).val()));

            //Check total grand amount
            var grandTotal = 0;
            $("[id*=total]").each(function () {
                grandTotal = grandTotal + parseFloat($(this).html());
            });
            $("[id*=grandTotal]").html(grandTotal.toString());

            //Display discount after select AgentID
            //$("id*= dropdown").change(function () {
            //    var displayDiscount = $(this).text();
            //    console.log(displayDiscount);
            //    $("id*=finalTotal").val(displayDiscount);
            //});
        });
    </script>
</head>
<body>
        <h2 style="text-align:center">Agents place order here</h2>
        @using (Html.BeginForm("FormSubbmit", "Home", FormMethod.Post))
        {
            <div style="text-align:center">
                <h3>Select Agent ID</h3>
                @Html.DropDownList("AgentID", (IEnumerable<SelectListItem>)ViewBag.agentIDList,
                                    new { style = "width: 400px; font-size: larger", @onChange = "SelectedValue(this)", id = "dropdown" })
                <h3>Select Payment Method</h3>
                Cash:   @Html.RadioButton("paymentMethod", "Cash", true)
                Banking: @Html.RadioButton("paymentMethod", "Banking")
                Momo: @Html.RadioButton("paymentMethod", "Momo")
            </div>
            <br />
            <h3>Goods list</h3>
            <table id="tblGoods" class="table">
                <tr>
                    <th>
                        <p>Indentify Code</p>
                    </th>
                    <th>
                        <p>Name</p>
                    </th>
                    <th>
                        <p>Price</p>
                    </th>
                    <th>
                        <p>Stock</p>
                    </th>
                    <th>
                        <p>Quantity</p>
                    </th>
                    <th>
                        <p>Total</p>
                    </th>
                    <th></th>
                </tr>
                @foreach (Goods g in Model.goodsList)
                {
                    <tr>
                        <td name="goodsIndentifyCode">
                            @g.ID
                        </td>
                        <td name="goodsName">
                            @g.name
                        </td>
                        <td class="salePrice" id="salePrice" name="goodsSalePrice">
                            @g.salePrice
                        </td>
                        <td name="goodsStock">
                            @g.stock
                        </td>
                        <td>
                            <input type="text" id="quantity" name="goodsQuantity" value="0" />
                        </td>
                        <td id="total" name="" style="text-align:end;">
                            0
                        </td>
                    </tr>
                }
            </table>




            <h3>Grand Total: <span id="grandTotal">0</span></h3>
            @*<h3>Discount: <span id="discount">0</span></h3>
            <h3>Final Total: <span id="finalTotal" name="finaltotal">0</span></h3>*@
            <input class=" btn-primary" type="submit" value="Subbmit" />
            }

    </body>
</html>

